<html>
<head>
    <title>Tubeleak</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<div class='row'>
    <nav class='black'>
        <div class="nav-wrapper">
	    <i class='material-icons left icnright'>linear_scale</i>
            <a href="/" class="brand-logo nav_title blue-grey-text text-lighten-2">TubeLeak</a>
	    <form method='post' action='{% url 'search' %}'>
	    {% csrf_token %}
                <input id='search' type='text' name='search' placeholder='Tag(#) Channel(.)  Search...'>
	    </form>
            <ul id="nav-mobile" class="right nav_components">
		{% if request.user.is_authenticated %}

	        <span class='ipbox'>    
		    <li><a href={% url 'profile' usr %}><i class='material-icons icngear'>settings</i></a></li>
		    <li><i class='material-icons modal-trigger icnplus' href='#modal1'>add</i></li>
		</span>
	        <span class='kspace'>
		    <img class='picspace' src='{% static usr.profile_pic %}' onerror="this.src='{% static 't.png' %}'">	
	        </span>
		{% else %}
                <span class='lspace'>
                        <a href='{% url 'login' %}' class='login_name white-text'>login</a>
	        </span>
		{% endif %}
            </ul>
        </div>
    </nav>
</div>
<div class='row'>
<div class='sienav sidnav grey darken-4'>
<div class='sidnav_margin'>
    <ul>
	<li>
	    <a href="/">
		<i title='Tube' class="material-icons extra-small sidnav_icon">public</i>
		<div class='sidnav_head'>Tube</div>
	    </a>
	</li>
	{% if usr.is_authenticated %}
	<li>
	<a href="{% url 'home' %}">
		<i title='Home' class="material-icons extra-small sidnav_icon">account_balance</i>
		<div class='sidnav_head'>Home</div>
	    </a>
	</li>
	{% endif %}
	<li>
	    <a href="{% url 'trends' %}">
		<i title='Trending' class="material-icons extra-small sidnav_icon">whatshot</i>
		<div class='sidnav_head'>Trends</div>
	    </a>
	</li>
	{% if usr.is_authenticated %}
	<li class='side_logout'>
		<a href="{% url 'logout' %}">
		    <i title='logout' class="material-icons extra-small sidnav_icon">priority_high</i>
		    <div class='sidnav_head'>logout</div>
		</a>
	</li>
	{% endif %}
    </ul>
</div>
</div>
    {% block content %}

    {% endblock %}
</div>

<!-- Modal (post add) -->
<div id="modal1" class="modalx">
    <div class="modal-content">
    <form id='add_form' method='post'>
    {% csrf_token %}
        <div class='box9'>
            <div class="row add_icon">
	             <div class="file-field input-field">
	               <div class='center'>
	                 <div class='material-icons large input_add'>add</div>
                         <input name='pclip' id='uploa' type="file" accept='video/*' required>
		                 <video height='122' width='400'>
			                <source id='uplo' src='' type="video/mp4"></source>
	                     </video>
                     </div>
                   </div>
                 </div>
            </div>
	        <div class='row'>
                <div class="input-field col s12">
                    <div class='col s6'>
	                    <p class='add_user'>Title </p>
		                <input name='ptitle' type='text' id='in6' pattern='.+' title='Enter a title for your video.' maxlength=113 required>
		            </div>
                    <div class="col s6">
	                    <p class='add_user1'>Tags</p>
		                <input name="ptags" type="text" id='in5' required>
		            </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light blue black-text add_btn" id='pbtn' name="action">Post
            </button>
        </div>
    </form>
    </div>
</div>
<!--Modal end (post add) -->


{% load static%}
<script src="{% static 'index.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
