/* ------------------ base ---------------- */
html body{
	background: #90a4ae;
	width: 100%;
	height: auto;
}
i{
	cursor: pointer;
}
nav{
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 57px;
}

nav ul a:hover {
    background-color: transparent;
}

.side_logout{
        margin-top: 361px;
}

#toast-container {
      top: auto !important;
      right: auto !important;
      bottom: 10%;
      left:50%;
}

.icnplus{
	margin-left: 59px;
	margin-top: -65px;
	color: black;
}

.icngear{
	margin-left: -4px;
	margin-top: -13px;
	color: black;
}

.icnright{
	margin-left: 19px;
	color: #90a4ae;
}

.ipbox{
	border: 1px solid white;
	height: 37px;
	width: 97px;
	background: #90a4ae;
	margin-top: -59px;
	border-radius: 9px;
	display: inline-block;
}

#search {
	border: 1px solid white;
	height: 32px;
	border-radius: 10px;
	width: 338px;
	margin: 14px 0px 0px 514px;
	background: #90a4ae;
	padding-left: 10px;
}

.lspace{
	height: 40px;
	width: 40px;
	background-color: grey;
	border-radius: 50%;
	display: block;
	margin: -67px 0px 0px 109px;
	cursor: pointer;
}

.kspace{
	height: 49px;
	width: 49px;
	background-color: grey;
	border-radius: 50%;
	display: block;
	margin-top: -67px;
	margin-left: 109px;
}

.picspace{
	height: 49px;
	width: 49px;
	border-radius: 50%;
}

.login_name{
	margin: 7px 0px 0px -11px;
}

.modalx{
	display: none;
	position: fixed;
	left: 123px;
	right: 0;
	background-color: black;
	padding: 0;
	height: 523px;
	width: 907px;
	border-radius: 2px;
	margin:auto;
}

.add_icon{
	padding-top: 112px;
}

.input_add{
	margin-top: -143px;
	margin-left: 307px;
}

.add_user{
	margin-top: 19px;
	margin-left: 11px;
	color: white;
	font-weight: 500;
	font-size: 17px;
	margin-bottom: 1px;
}

.add_user1{
	margin-top: 19px;
	margin-left: 172px;
	color: white;
	font-weight: 500;
	font-size: 17px;
	margin-bottom: 1px;
}

.add_btn{
	margin-left: 391px;
	margin-top: 9px;	
}


#in5{
	border: 1px solid rgb(8,75,108) !important;
	height: 37px !important;
	width: 217px !important;
	border-radius: 9px;
	padding-left: 13px;
	padding-right: 13px;
	margin-bottom: 0px;
	margin-left: 166px;
	color: white;
}

#in6{
	border: 1px solid rgb(8,75,108) !important;
	height: 37px !important;
	width: 553px !important;
	border-radius: 9px;
	padding-left: 13px;
	padding-right: 13px;
	margin-bottom: 0px;
	margin-left: 5px;
	color: white;

}
.nav_title {
	margin-left: 83px;
}

.nav_components {
	margin-right: 32px;
}

.box9{
	height: 292px;
  	width: 880px;
  	background-color: rgb(8,75,108);
  	margin-left: 15px;
	border: 1px dashed white;
	border-radius: 20px;	
	margin-top: 7px;
}


/*------------------------!base---------------------------*/

/*-------- ----------------login ----------------------*/

.lbox{
        border: 1px solid #514545;
        border-radius: 3px;
	background-color: black;
	height: 507px;
  	width: 447px;
  	margin-left: 471px;
	position: fixed;
	top: 55px;
}

.lerror{
        color: red;
        margin: -9px 0px -9px 97px;
}

.log_title{
	font-weight: 500;
	font-size: 33px;
        margin: 27px 0px -32px 163px;
}

.log_title1{
	font-weight:99;
	font-size:15px;
	margin:27px 0px 17px 99px;
}

.log_user{
        color: white;
	margin: 0px 0px 3px 27px;
}


#in1{
	border: 1px solid #514545 !important;
        color: white;
	height: 37px !important;
	width: 319px !important;
	border-radius: 13px;
	padding: 0px 13px 0px 13px;
	margin: 0px 0px -13px 27px;
}

#in1:focus{
        border: 1px solid white !important;
}

.topper {
	margin: -19px 0px 0px 257px;

}

.lbtn{
        margin:-27px 0px 0px 307px;
}

.sign_link {
        font-weight: 600;
        margin: 41px 0px 0px 47px;
}

.annonbtn{
	margin: 33px 0px 0px 37px;
}

#anbtn{
        width: 341px !important;
}
/*------------------login(END)-------------------------*/

/*------------------Signup-------------------------*/


.sbox{
        border: 1px solid rgb(89,94,104);
        background-color: rgb(42,43,45);
        border-radius: 3px;
        height: 565px;
        width: 701px;
        margin: 31px 0px 0px 335px;        
}

.serror{
        color: red;
        margin: 5px 0px -7px 0px;
}

.sg_title{
	font-weight: 499;
	font-size: 23px;
        margin: 49px 0px 0px -61px;
}

.sg_title1{
	font-weight: 399;
	font-size: 15px;
	margin: 3px 0px 0px -61px;
}

.rot{
	margin: 5px 0px 3px 0px;
}

#in2{
	border: 2px solid black !important;
	height: 33px !important;
	width: 161px !important;
	border-radius: 9px;
        color: black;
	box-shadow: 1px 3px;
	padding: 0px 13px 0px 13px;
        margin-left: -63px;
}

#in3{
	border: 2px solid black !important;
	height: 33px !important;
	width: 161px !important;
	border-radius: 9px;
        color: black;
	box-shadow: 1px 3px;
	padding: 0px 13px 0px 13px;
        margin-left: -37px;
}


#in4{
	border: 2px solid black !important;
	height: 37px !important;
	width: 363px !important;
	border-radius: 9px;
        color: black;
	box-shadow: 1px 3px;
	padding: 0px 13px 0px 13px;
        margin-left: -63px
}

.sg_user{
	margin:0px 0px 0px -61px;
}

.sg_user1{
        margin: 0px 0px 0px -31px;
}

.log_link{
        font-weight: 600;
        margin: 53px 0px 0px -47px;
}

.sbtn{
        margin: -29px 0px 0px 241px;
}

.sign_img{
        height: 239px;
        width : 273px;
}

.img{
        margin-top: 129px;
}

.img_txt{
        font-size: 19px;
        margin-left: 10px;
}
/*------------------signup(END)-------------------------*/

/*------------------------tube---------------------------*/

.sidnav{
  	height: 100%;
  	width: 203px;
  	position: fixed;
  	z-index: 1;
  	top: 57px;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
}	

.sidnav a {
	padding-top: 7px;
	padding-left: 83px;
  	font-size: 19px;
  	display: block;
	padding-bottom: 7px;
}

.sidnav_icon{
	margin-left: -65px !important;
	color:  #90a4ae;
	margin-top: 7px;
}

.sidnav_head{
	margin-top: -26px;
	margin-left: -20px !important;
	color:  #90a4ae;
}

.sidnav_margin {
    	margin-top: -30px;
}

.sidnav a:hover {
	background: #474d50;
}

.pspace{
	height: 41px;
	width: 41px;
	background-color: black;
	border-radius: 50%;
	display: block;
	margin-top: 11px;
	margin-left: 0px;
}

.mn{
	margin-left: 235px !important;
	margin-top: 61px;
}

.nm{
	margin-left: 91px !important;
	margin-top: 61px;
}

.vido{
	width: 218px;
	height: 167px;	
}

.boxvid{
	border: 1px solid black;
	width: 220px;
	height: 170px;	
	background: black;
	margin-top: 13px;
}

.vido1{
	width: 248px;
	height: 187px;
}

.boxvid1{
	border: 1px solid black;
	width: 250px !important;
	height: 191px !important;	
	background: black;
	margin-top: 13px;		
}

.adjust{
	margin-left: 53px;
	margin-top: -39px;
	font-weight: 400;
        word-wrap: break-word;
        width: 163px;
}

.channel{
	margin-left: 53px;
	margin-top: 0px;
	font-weight: 200;
        word-wrap: break-word;
        width: 130px;
}

.vid_date{
        font-size: 9px;
        margin: 0px 0px 0px 53px;
}

.vid_date1{
        font-size: 10px;
        margin: 0px 0px 0px 53px;
}

.sienav{
  	height: 100%;
  	width: 63px;
  	position: fixed;
  	z-index: 1;
  	top: 57px;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.sienav i{
	margin-left: -63px !important;
	margin-top: 10px;
}

/*------------------------!tube---------------------------*/

/*------------------------search---------------------------*/

.search{
	font-size: 33px;
	margin: 63px 0px 0px 141px;
}

.searchmargin{
	margin: -9px 0px 0px 107px;
}

.searchhr{
	width: 83%;
	margin-top: -3px;
}

.se_box{
	border: 1px solid black;
	width: 220px;
	height: 170px;	
	background: black;
	margin-top: 13px;
}

.semar{
	margin-bottom: -45px;
        width: 218px;
        height: 167px;
}

.sspace{
	height: 33px;
	width: 33px;
	background-color: grey;
	border-radius: 50%;
	display: block;
	margin: 13px 0px 0px -158px;
}

.sadjust{
	font-weight: 400;
	font-size: 19px;
	margin: 33px 0px 0px -168px;
        width: 89%;
        word-wrap: break-word;
}

.schannel{
	font-weight: 300;
	margin: -29px 0px 0px -117px;
}
	
.m115{
	margin-bottom: 115px;
}

/*------------------------!search---------------------------*/

/*---------------------------clip----------------------------*/

.box10{
	height: 473px;
  	width: 1193px;
  	background-color: black;
  	margin-left: 107px;
	border: 1px solid black;
	border-radius: 10px;	
	margin-top: 43px;
}

.title_vid{
	margin-top: -3px;
	margin-left: 110px;
	color: rgb(8,75,108);
	font-weight: 600;
	font-size: 23px;
        width: 141%;
        word-wrap: break-word;
}


.title_tag{
	margin-top: -3px;
	margin-left: 110px;
	color: rgb(8,75,108);
	font-weight: 400;
	font-size: 13px;
	margin-bottom: 1px;
}


.title_icn{
	margin-right: 87px;
	color: rgb(8,75,108);
}

.title_icn2{
	margin-right: -82px;
	color: rgb(8,75,108);
}

.break{
	width: 84%;
	margin-left: 133px;
	color: black;
}

.clipmargin{
	margin-left: 107px;
}

.box0{
	border: 2px solid black;
	width: 83%;
	margin-left: 133px;
	height: 40%;
	border-radius: 7px;
}

.boxinfo{
	border: 2px solid black;
	width: 83%;
	margin-left: 133px;
	height: 40%;
	border-radius: 7px;
}

.cltitle{
        margin-top: -29px;
        display: block;
        margin-left: 157px;
        font-weight: 587;
	color: rgb(8,75,108);
}

.cpace {
        height: 35px;
        width: 35px;
        border-radius: 50%;
}

.clspace{
        display: block;
        border: 1px solid black;
        border-radius: 50%;
        height: 37px;
        width: 37px;
        margin-top: -21px;
        margin-left: 111px;
}

.showviews{
	color: rgb(8,75,108);
	margin-left: 67%;
	font-size: 17px;
}

.date{
	color: rgb(8,75,108);
	margin-left: 65%;
	font-size: 15px;
	margin-top: 13px;
	font-weight: 600;
}

.cmnt-header{
	margin-bottom: 3px;
}

.cmnt_title{
	margin-left: 9px;
	font-size: 17px;
	font-weight: 600;
	color: rgb(8,75,108);
}

.cmnthr {
        width: 98%;
        color: black;
}

.cmnt-section{
	overflow-y: auto;
	overflow-x: hidden;	
	width: 100%;
  	height: 172px;

}

.cmntname{
	margin-left: 11px;
	font-size: 15px;
	font-weight: 400;
	color: black;
	margin-right: 3px;
}

.cmnt{
        font-weight: 300;
        font-size: 15px;
        margin-top: -23px;
        margin-left: 93px;
        width: 91%;
        word-wrap: break-word;
        margin-bottom: 7px;
}

.cmnt-footer{
	margin-top: -3px;
}

#cmnt_inp{
	border: 1px solid black;
	padding-left: 9px;
	padding-right: 9px;
	width: 1101px;
	border-radius: 0px 0px 7px 7px;
	margin-left: -1px;
	height: 37px;
	background-color: black;
	color: white;
        position: static;
}

/*--------------------------!clip-------------------------*/

/* ------------------------trending--------------------------*/

.trendingmargin{
	margin: 63px 0px 0px 107px;
}

.vido2{
	width: 247px;
	height: 177px;
	margin-bottom: -45px;
}

.boxvid2{
	border: 1px solid black;
	width: 249px;
	height: 179px;	
	background: black;
	margin-top: 13px;
}

.tspace{
	height: 39px;
	width: 39px;
	background-color: grey;
	border-radius: 50%;
	display: block;
	margin: 13px 0px 0px -149px;
}

.tspacepic{
	height: 39px;
	width: 39px;
	border-radius: 50%;
	display: block;
	margin: 13px 0px 0px 0px;
}

.tadjust{
	font-weight: 400;
	font-size: 23px;
	margin: 13px 0px -9px -149px;
        word-wrap: break-word;
        width: 673px;
}

.tchannel{
	font-weight: 300;
	margin: -29px 0px 0px -99px;
        word-wrap: break-word;
        width: 247px;
}

.tviews {
        margin: 13px 0px 0px -147px;
}

.tdate {
    font-weight: 300;
    font-size: 13px;
    margin: 0px 0px 0px -147px;
}

.m123{
	margin-bottom: 66px;
}

/* ---------------------------!trending--------------------------------*/

/* ---------------------------profile--------------------------------*/

.profilespace{
	width: 133px;
	height: 133px;
	background: black;
	border-radius: 50%;
	margin-top: -155px;
	margin-left: 141px;
}

.profhr{
	margin-top: 261px;
	background: black;
	height: 1px;
	width: 90%;
	margin-left: 90px;
}

.profhr2{
	margin-top: 1px;
	background: black;
	height: 2px;
	width: 90%;
	margin-left: 90px;
}

.subscribebtn{
	margin-left: 49%;
	margin-top: -93px;
}

.subscribedbtn{
	margin-left: 49%;
	margin-top: -93px;
}

.profile_desc{
	margin-left: 43%;
	margin-top: -111px;
}

.profile_title{
    font-size: 23px;
    font-weight: 600;
}

.profile_subscribe{
    font-weight: 300;
	
}

.tab{
	overflow: hidden !important;
	margin-left: 489px;
	margin-top: -7px;
}

.tab span{
	  background-color: #ffffff00;
	  float: left;
	  border: none;
	  outline: none;
	  cursor: pointer;
	  padding: 1px 11px;
	  transition: 0.3s;
	  width: 101px;
	  color: black;
	  margin-left: 13px;
}

.tab span:hover {
  	background-color: black;
 	color: white;
}

.tab span.active {
  	background-color: black;
        color: white;
	display: block !important;
}

.tabcontent{
	display:none;
        margin-left: 107px;
        margin-top: -17px;
        margin-right: 60px;
}

.addprof{
	margin-left: 105px;
	margin-top: -27px;
}

#profimg{
	height: 133px;
	width: 133px;
	border-radius: 50%;	
}

.profboxvid{
	border: 1px solid black;
	width: 179px;
	height: 161px;	
	background: black;
	margin-top: 13px;
}

.profvideo{
        width: 177px;
        height: 168px;
}

.profadjust{
	margin-left: 4px;
	margin-top: 1px;
	font-weight: 600;
	font-size: 15px;
        word-wrap: break-word;
        width: 163px;
}

.prof_date{
        font-size: 11px;
        margin: 0px 0px 0px 3px;
}

.sub_channel {
    border: 1px solid black;
    border-radius: 50%;
    height: 157px;
    width: 157px;
    margin: 19px 0px 0px 53px;
    background: black;
}

.sub_channelpic {
    border-radius: 50%;
    height: 155px;
    width: 155px;
}

.sub_title{
        font-size: 17px;
        font-weight: 600;
        margin: 11px 0px 0px 87px;
        color: black;
}


.profile_home{
	margin-left: 13%;
	margin-top: 61px;
}

.about_box{
        height: 90%;
        width: 100%;
        background: black;
        font-size: 17px;
        margin-bottom: -20px;
}

.about_title{
        padding-top: 25px;
        padding-left: 25px;
        font-size: 25px;
        color: white;
        font-weight: 600;
}

.about_hr{
        color: #262424;
        width: 73%;
        margin-left: 23px;
}

.about_inbox{
        height: auto;
        width: 70%;
        margin-left: 27px;
        word-wrap: break-word;
        color: white;
        font-weight: 300;
}

.home_content{
        font-size: 17px;
font-weight: 600;
margin-left: 18px;
}
.detail_hr{
        margin-left: 2%;
        margin-top: 67px;
        width: 73%;
        color: #262424;
}
/*---------------------------!profile-------------------------------------*/
