{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class='mn nm'>
    {% for i in home %}
            {% if forloop.first %}<div class="row">{% endif %}
                    <div class='col s3'>
                        <div class='boxvid boxvid1'>
                            <a href='{% url 'clip' i.id %}'>
                            <video class='vido vido1' muted>
                                    <source src="{% static i.video %}" type='video/mp4'>
                            </video>
                            </a>
                        </div>
                        <div class='pspace'>
                                <img src='{% static i.pic.profile_pic %}' class='pspace'>
                        </div>
                        <div class='adjust len'>
                                <a href='{% url 'clip' i.id %}' title='{{i.title|title}}' class='black-text'>{{i.title|title}}</a>
                        </div>
                        <div class='channel'>
                                <a href='{% url 'profile' i.owner %}' class='black-text'>{{i.owner}}</a>
                        </div>
                        <div class='vid_date vid_date1'>
                                {{i.created_date}} | {{i.created_time}}
                        </div>
                    </div>
            {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
    {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
{% endblock %}
