{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class='row'>
    <p class='black-text search'>{{srch}}</p>
    <hr class='black-text searchhr'\>
    <div class='searchmargin'>
        <div class='col s4'>
        {% if clips %}
                {% for i in clips %}
                <div class='se_box'>
                    <a href='{% url 'clip' i.id %}'>
                    <video class='semar' muted>
                            <source src="{% static i.video %}" type='video/mp4'>
                    </video>
                    </a>
                </div>
                {% endfor %}
        {% endif %}
        </div>
        <div class='col s8'>
            {% if clips %}
                    {% for i in clips %}
                    <div class='sadjust'>
                         <a href='{% url 'clip' i.id %}' class='black-text'>{{i.title|title}}</a>
                    </div>
                    <div class='m115'>
                     <div class='sspace'>
                     </div>
                     <div class='schannel'>
                         <a href='{% url 'profile' i.owner %}' class='black-text'>{{i.owner}}</a>
                     </div>
                    </div>
                   {% endfor %}
           {% endif %}
	</div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
{% endblock %}
