{% extends 'base.html' %}
{% block content%}
{% load static %}
<div class='row'>
    <div class='trendingmargin'>
        <div class='col s4'>
	    {% for i in clips %}
	    <div class='boxvid2'>
	        <a href='{% url 'clip' i.id %}'>
	        <video class='vido vido2' muted>
		    <source src="{% static i.video %}" type='video/mp4'>
	        </video>
	        </a>
	    </div>
	    {% endfor %}
        </div>
        <div class='col s8'>
	    {% for i in clips %}
	    <div class='tadjust'>
                    <a href='{% url 'clip' i.id %}' title='{{i.title|title}}' class='black-text'>{{i.title|title}}</a>
	    </div>
	    <div class='m123'>
	        <div class='tspace'>
			<img class='tspacepic' src='{% static i.pic.profile_pic %}'>
	        </div>
	        <div class='tchannel'>
		        <a href='{% url 'profile' i.owner %}' class='black-text'>{{i.owner}}</a>
	        </div>
                <div class='tviews'>
                     {{i.views}} views
	        </div>
                <div class='tdate'> 
                   {{i.created_date}} | {{i.created_time}}
                </div>
            </div>
	   {% endfor %}
	</div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
{% endblock%}
